body {
   font-family: sans-serif, Arial, Helvetica;
   background-color: #222;
}

#container {
   position: relative;
   width: 100%;
   max-width: 100%;
   height:95%;
   max-height: fit-content;
}

#top-nav {
   border-bottom: 1px solid #555252;
}

#sidebar {
    border-right: 1px solid #555252;
    height: 100%;
}
